* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    height: 8597px;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}