@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Light.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Light.eot) format("embedded-opentype");
    font-weight: 100;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Light.woff) format("woff");
    font-weight: 100;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Medium.eot) format("embedded-opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Medium.woff) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Bold.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Bold.eot) format("embedded-opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'Futura PT';
    src: url(../../font/FuturaPT/FuturaPT-Bold.woff) format("woff");
    font-weight: 600;
}


